body {
  margin: 0 0;
  background: #e2e2e2; }

#origin {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 1em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }
  @media screen and (max-width: 1399px) {
    #origin {
      width: 100% !important; } }

.allRolesAssigned {
  color: red; }

#chat header {
  background: #f1f1f1;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 0.5em; }

#chat .view {
  display: flex;
  flex-wrap: wrap; }
  #chat .view #chat {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; }
    #chat .view #chat ul {
      margin: 0 0;
      height: 360px;
      max-height: 360px;
      overflow-y: scroll; }
  #chat .view #users {
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px; }

#chat .input form.input {
  display: flex;
  align-self: flex-end; }
  #chat .input form.input button, #chat .input form.input label {
    font-family: sans-serif; }
  #chat .input form.input button {
    align-self: center;
    padding: 0.75rem 1.7rem;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 1px;
    background: #98e47c;
    color: #242424;
    cursor: pointer; }
  #chat .input form.input label {
    align-self: center;
    padding: 0.75rem 0.75rem;
    background: #f1f1f1;
    color: #222222;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer; }
  #chat .input form.input input {
    flex-grow: 1;
    padding: 1em 0.5em;
    background: #fafafa;
    border: none; }

body {
  font-size: 18px; }
  body *:focus {
    outline: none; }

.modal-segment {
  text-align: center;
  font-family: sans-serif;
  padding: 1em 1em;
  box-shadow: 1.4px 1.35px 1.3px rgba(0, 0, 0, 0.7); }
  .modal-segment *:focus {
    outline: none; }
  .modal-segment button {
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 2px;
    background-color: #a6eeb3;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer; }
  .modal-segment input[type='text'] {
    margin-bottom: 0.75em; }
  .modal-segment .last-details {
    font-size: 0.6em;
    text-transform: uppercase; }
  .modal-segment label {
    padding-right: 0.25em;
    font-size: 0.65em;
    font-weight: bold;
    text-transform: uppercase; }
  .modal-segment h2 {
    margin: 0 0 0.7em 0;
    text-transform: uppercase; }
